<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZokaDe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script src=                "{{ url_for('static', filename='js/html5-qrcode.min.js') }}"></script>
    <!-- <script src="html5-qrcode.min.js"></script> -->
    
</head>
<body>
    <div class="row">

        <div class="col">

            <div class="row">
                <h3>R1 C1 r1</h3>
                <div style="width: 500px" id="reader"></div>
            </div>

            <div class="row">
                <h3>R1 C1 r2</h3>
            </div>

        </div>

        <div class="col">

            <div class="row">
                <h3>R1 C2 r1</h3>
            </div>

            <div class="row">
                <h3>R1 C2 r2</h3>
            </div>

        </div>

        <div class="col">

            <div class="row">
                <h3>R1 C3 r1</h3>
            </div>

            <div class="row">
                <h3>R1 C3 r2</h3>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col">

            <div class="row">
                <h3>R2 C1 r1</h3>
            </div>

            <div class="row">
                <h3>R2 C1 r2</h3>
            </div>

        </div>

        <div class="col">

            <div class="row">
                <h3>R2 C2 r1</h3>
            </div>

            <div class="row">
                <h3>R2 C2 r2</h3>
            </div>

        </div>

        <div class="col">

            <div class="row">
                <h3>R2 C3 r1</h3>
            </div>

            <div class="row">
                <h3>R2 C3 r2</h3>
            </div>

        </div>

    </div>
</body>
<script>
    function onScanSuccess(qrMessage) {
        // handle the scanned code as you like, for example:
        console.log();
        console.log(`QR matched = ${qrMessage}`);
        html5QrcodeScanner.clear().then(ignore => {
            // QR Code scanning is stopped.
            console.log("scanning stopped");

            }).catch(err => {
            // Stop failed, handle it.
            });
    }

    function onScanFailure(error) {
        // handle scan failure, usually better to ignore and keep scanning.
    // for example:
        console.warn(`QR error = ${error}`);
    }

    let html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 }, /* verbose= */ false);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
</script>
</html>