<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/airy.ico') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style-rent.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="" id="available_assets">
          <p>You have following assets available for renting</p>
          <div id="ammount">
              <h3><section> Worker Robot </section> </h3>
          </div>
        </div>

        <a   class="tile"  id="div_pay" href="/" style="text-decoration:none;"><div> <p class="whitetext">home</p> </div></a>
      </div>
    </div>
  </body>
</html>
